.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dotActive {
  width: 24px;
  border-radius: 12px;
}
