.clientsTitle {
    position: relative;
    z-index: 1;
    font-size: 3.5rem;
    color: rgb(56, 7, 232);
    text-align: center;
    margin: 10rem auto 1%;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    .clientsTitle {
      font-size: 2rem;
      margin: 3rem auto 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .clientsTitle {
      font-size: 1.75rem;
      margin: 2rem auto 1rem;
    }
  }